{% extends 'amf/base_amf.html' %}
{% block content %} 
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        AERODROME FORECAST
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPLL
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPVM
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPLC
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPLB
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPLI
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPVP
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPVD
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPMR
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPMD
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"  class="px-8 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        RPMZ
                    </th>
                    <td style="width: 1350px;" class= "px-0 py-4">
                        <textarea id="3000M/10000FT:" rows="1" class="fbph block p-1.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="130500Z 1306/1412 12011KT 9999 FEW025 TX35/1306Z TN27/1321Z TEMPO 1318/1324 09005KT="></textarea>
                    </td>
                </tr>                
            </tbody>
        </table>      
{% endblock content %}

